html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: $main-ff;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}


