$main-ff: 'Montserrat', 'Arial', sans-serif;
$semi-ff: 'Lato','Arial', sans-serif;
$heavy-fw: 700;

$light-color: #FFFFFF;
$dark-color: #000000;
$hallmark-color: #8D81AC;

$text-color: #848E97;
$dark-text-color: #323232;
$testimonials-text-color: #A291A5;
$editor-title-color: #635C73;

$dropdown-overlay: #333333;
$dropdown-border-overlay: #3B3B3B;
$navbar-sm-overlay: #27262A;
$features-overlay: #F4F4F4;
$big-card-overlay: #463048;

