<div class="features-overlay">
  <section class="features">

    <h3 class="section-title features__title">&lt;Here is what you get&gt;</h3>

    <ul class="features__list">

      <li class="features__item item">
        <h4 class="item__title item__title--loupe">Created to Make The Web Better</h4>
        <p class="item__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
          dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
      </li>

      <li class="features__item item">
        <h4 class="item__title item__title--control-handle">Incredibly Powerful Tool</h4>
        <p class="item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa
          placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
      </li>

      <li class="features__item item">
        <h4 class="item__title item__title--beaker">Experimental Stuff</h4>
        <p class="item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa
          placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
      </li>

      <li class="features__item item">
        <h4 class="item__title item__title--circle">Created to Make The Web Better</h4>
        <p class="item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa
          placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
      </li>
    </ul>

    <div class="features__img-wrap">
      <img class="features__img" src="../img/editor.png" alt="Editor image">
    </div>
  </section>
</div>

