<section class="hero-bg">
    <div class="container hero">
    <h1 class="hero__title">Fork App</h1>
    <p class="hero__description">A real gamechanger in the world of web development</p>
    <p class="hero__versions">v. 2.8 For Mac and Windows</p>

    <div class="download-btn-wrapper">
        <a href="" class="download-btn btn">Download For Free Now</a>
        <p class="download-btn__trial">Unlimited 30-Days Trial Period</p>
    </div>
    </div>
</section>