<div class="pricing-overlay">
  <section class="pricing container">
    <h3 class="section-title pricing__title">Fork Subscription Pricing</h3>
    <ul class="pricing__cards cards">

      <li class="cards__item">
        <h5 class="cards__title">students</h5>
        <span class="cards__price">&#36;<span class="cards__price--number">29</span></span>
        <p class="cards__period">per month</p>
        <p class="cards__legal">personal license</p>
        <a href="#" class="cards__btn purchase-btn">purchase</a>
      </li>

      <li class="cards__item">
        <h5 class="cards__title">professional</h5>
        <span class="cards__price">&#36;<span class="cards__price--number">59</span></span>
        <p class="cards__period">per month</p>
        <div class="cards__legal"><p class="cards__license">professional licence</p>
          <p class="cards__support">email support</p></div>
        <a href="#" class="cards__btn purchase-btn">purchase</a>
      </li>

      <li class="cards__item cards__item--accent">
        <h5 class="cards__title">agency</h5>
        <span class="cards__price">&#36;<span class="cards__price--number">99</span></span>
        <p class="cards__period">per month</p>
        <div class="cards__legal"><p class="cards__license">1-12 team members</p>
          <p class="cards__support">phone support</p></div>
        <a href="#" class="cards__btn purchase-btn">purchase</a>
      </li>

      <li class="cards__item">
        <h5 class="cards__title">enterprise</h5>
        <span class="cards__price">&#36;<span class="cards__price--number">159</span></span>
        <p class="cards__period">per month</p>
        <div class="cards__legal"><p class="cards__license">Unlimited Team Members</p>
          <p class="cards__support">24/ 7 Phone Support</p></div>
        <a href="#" class="cards__btn purchase-btn">purchase</a>
      </li>
    </ul>
  </section>
</div>