<div class="site-header-overlay">

<header class="site-header container">
    <a href="#" class="site-header__logo logo">
        <span class="logo__icon"></span>
        <span class="logo__title">Forkio</span>
    </a>


    <div class="burger">
        <div class="burger__line"></div>
        <div class="burger__line"></div>
        <div class="burger__line"></div>
    </div>

    <div class="site-header__nav-menu nav-menu">
        <ul class="nav-menu__list">
            <li class="nav-menu__items">
                <a href="#" class="nav-menu__link">Overview</a>
            </li>
            <li class="nav-menu__items">
                <a href="#" class="nav-menu__link">About Fork</a>
            </li>
            <li class="nav-menu__items">
                <a href="#" class="nav-menu__link">Buying Options</a>
            </li>
            <li class="nav-menu__items">
                <a href="#" class="nav-menu__link">Support</a>
            </li>
        </ul>
    </div>

    <a href="#" class="site-header__button btn">Buy now</a>

</header>

</div>