<div class="testimonials-wrapper">

    <section class="testimonials container">

        <h3 class="testimonials__title">People are talking about fork</h3>

        <div class="testimonials__article-wrapper">

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/smashing-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </article>

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/codrops-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </article>

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/w-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </article>

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/pixel-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </article>

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/cb-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </article>

            <article class="testimonials__article article">
                <div class="article__logo-wrapper">
                    <img src="../img/icons/tnw-icon.png" alt="" class="article__logo">
                </div>
                <p class="article__description">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </article>

        </div>

        <p class="testimonials__footer-text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

    </section>
</div>