.burger {
  width: 26px;
  box-sizing: border-box;
  overflow: hidden;

  &--opened {
    & .burger__line {
      &:nth-child(1) {
        transform: translate(50px, 0px)
      }

      &:nth-child(2) {
        transform: translate(1px, 0px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translate(1px, -8px) rotate(-45deg);
      }
    }

    & + .nav-menu {
      @include appear(block);
    }
  }


  &__line {
    height: 2px;
    background-color: #fff;
    transition: 0.3s transform;
    border-radius: 5px;

    &:first-child {
      margin-left: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
