.btn {
  background-color: $hallmark-color;
  text-decoration: none;
  font-weight: $heavy-fw;
  font-size: 15px;
  line-height: 15px;
  border-radius: 40px;
  padding: 10px 25px;
  color: $light-color;
  border: 1px solid transparent;
  transition: 0.2s linear;
  text-align: center;

  &:hover {
    background-color: $light-color;
    border: 1px solid $hallmark-color;
    color: $hallmark-color;
  }
}

.purchase-btn {
  display: inline-block;
  padding: 14px 36px;
  font-size: 15px;
  line-height: 15px;
  color: $light-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  transition: 0.2s linear;

  &:hover {
      background-color: $light-color;
      color: $hallmark-color;
  }
}