.editor {
  text-align: center;

  &__title {
    font-weight: $heavy-fw;
    text-transform: uppercase;
    color: $editor-title-color;
  }

  &__text {
    font-family: $semi-ff;
    color: $dark-text-color;
  }
}