.features {
  text-align: center;
  padding-right: 0;

  &__title {
    color: $hallmark-color;
    padding-right: 10px;
  }

  &__list {
    list-style: none;
  }

  &__img-wrap {
    overflow: hidden;
  }

  &__img {
    max-width: 700px;
    margin-left: auto;
  }
}

.item {

  &__title {
    font-size: 16px;
    font-weight: 400;
    color: $dark-text-color;
  }

  &__title::before {
    @include pseudo-elem(block, '');
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title--loupe::before {
    background-image: url("../../img/icons/loupe-icon.png");
    width: 111px;
    height: 64px;
    margin-bottom: 25px;
  }

  &__title--control-handle::before {
    background-image: url("../../img/icons/control-handle-icon.png");
    width: 90px;
    height: 80px;
    margin-bottom: 19px;
  }

  &__title--beaker::before {
    background-image: url("../../img/icons/beaker-icon.png");
    width: 60px;
    height: 84px;
    margin-bottom: 18px;
  }

  &__title--circle::before {
    background-image: url("../../img/icons/circle-icon.png");
    width: 71px;
    height: 71px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
  }
}
