.hero-bg {
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
}

.hero {
  @include flex-direction(flex, column, center);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 500px;

  &__title {
    color: $light-color;
  }

  &__description {
    color: $hallmark-color;
  }

  &__versions {
    color: $text-color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
  }
}

.download-btn__trial {
  font-size: 14px;
  line-height: 14px;
  color: $text-color;
}

.download-btn-wrapper {
  @include flex-direction(flex, column, center)
}

