.site-header-overlay {
  background-color: $navbar-sm-overlay;
}

.site-header {
  @include flex-direction(flex, row, sb-center);
  padding-top: 34px;
  padding-bottom: 32px;
  position: relative;
}


.logo__icon {
  display: block;
  background-image: url("../img/icons/logo-icon.png");
  width: 43px;
  height: 41px;
}

.nav-menu {
  @include disappear(none);
  width: 100%;
  padding: 0 15px;
}

.logo:hover .logo__icon {
  background-image: url("../img/icons/logo-icon--hover.png");
}
.logo:hover .logo__title {
  color: $light-color;
}


