.pricing-overlay {
  background: no-repeat center/cover url("../../img/pricing-bg.jpg");
}

.pricing {
  text-align: center;

  &__title {
    color: $light-color;
  }
}

.cards {
   list-style: none;

  &__item {
    background-color: rgba(255, 255, 255, 0.11);
  }

  &__item:first-child {
    line-height: 18px;
  }

  &__title,
  &__price,
  &__period,
  &__legal {
    color: $light-color;
  }

  &__title {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.06);
  }

  &__price {
    display: block;
    font-size: 60px;
  }

  &__price--number {
    font-weight: $heavy-fw;
  }

  &__period {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__period::after {
    @include pseudo-elem;
    margin: 33px auto 0;
    width: 60px;
    height: 5px;
    background-color: $hallmark-color;
  }

  &__legal {
    font-size: 16px;
    text-transform: capitalize;
  }

  &__item--accent {
    padding-bottom: 47px;
    background-color: $big-card-overlay;

    & > .cards__title {
      margin-bottom: 14px;
      padding-top: 43px;
      padding-bottom: 43px;
      background-color: rgba(0, 0, 0, 0.11);
    }

    & > .cards__price {
      margin-bottom: 16px;
      font-size: 82px;
      line-height: 84px;
    }

    & > .cards__period::after {
      margin-top: 41px;
    }

    & > .cards__legal {
      margin-bottom: 75px;
      line-height: 32px;
    }

    & > .purchase-btn {
      padding: 19px 48px;
      font-size: 16px;
      line-height: 18px;
    }
  }

}