.testimonials-wrapper {
  background-image: url('../img/testimonials-bg.jpg');
  background-position: center;
  background-size: cover;
}

.testimonials {
  &__title {
    text-transform: capitalize;
    font-weight: $heavy-fw;
    text-align: center;
    color: $light-color;
  }
  &__footer-text {
    color: $testimonials-text-color;
    text-align: center;
    padding-bottom: 22px;
    border-bottom: 2px solid #645766;
    font-size: 14px;
    line-height: 21px;
    font-family: Lato, Arial, sans-serif;
  }
}

.article {

  @include flex-direction(flex, column, center);


  &__description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: $heavy-fw;
    font-family: Lato, Arial, sans-serif;
    font-style: italic;
    color: $light-color;
    margin-bottom: 45px;
    max-width: 345px;
  }

  &__logo-wrapper {
    display: inline-block;
    margin: 0 auto 30px;
  }
}