@media screen and (max-width: 480px) {
  .editor {
    padding-top: 122px;
    padding-bottom: 88px;

    &__title {
      margin-bottom: 19px;
      font-size: 26px;
      line-height: 28px;
    }

    &__text {
      margin-bottom: 29px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media screen and (min-width: 481px) {
  .editor {

    &__text {
      font-size: 21px;
      line-height: 32px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .editor {
    padding-top: 151px;
    padding-bottom: 98px;

    &__title {
      margin-bottom: 14px;
      font-size: 42px;
      line-height: 42px;
    }

    &__text {
      margin-bottom: 37px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (min-width: 993px) {

  .editor {
    padding-top: 123px;
    padding-bottom: 70px;

    &__title {
      margin-bottom: 27px;
      font-size: 54px;
      line-height: 54px;
    }

    &__text {
      margin-bottom: 22px;
      padding-left: 150px;
      padding-right: 150px;
    }
  }
}


