@media screen and (max-width: 320px) {

  .hero {
    &__title {
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 48px;
      font-weight: $heavy-fw;
    }

    &__description {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
    }
  }

  .download-btn-wrapper {
    transform: translateY(545px);
  }

  .download-btn {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .hero {
    &__title {
      font-size: 48px;
      line-height: 48px;
      font-weight: $heavy-fw;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      margin-bottom: 14px;
    }
  }

  .download-btn-wrapper {
    transform: translateY(545px);
  }

  .download-btn {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {

  .hero {
    padding-top: 70px;
    padding-bottom: 350px;

    &__title {
      font-size: 72px;
      line-height: 72px;
      font-weight: $heavy-fw;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .download-btn-wrapper {
      transform: translateY(403px);
    }

    .download-btn {
      margin-bottom: 18px;
    }
  }
}

@media screen and (min-width: 993px) {

  .hero-bg {
    background-size: cover;
  }

  .hero {
    padding-top: 70px;
    padding-bottom: 300px;

    &__title {
      font-size: 82px;
      line-height: 82px;
      font-weight: $heavy-fw;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;

      &__versions {
        font-size: 16px;
        line-height: 16px;
      }
    }

    .download-btn-wrapper {
      transform: translateY(353px);
    }

    .download-btn {
      width: 100%;
      margin-bottom: 18px;
    }
  }
}