@media screen and (max-width: 320px) {

  .logo {
      order: 0;
    &__title {
      @include disappear(none);
    }
  }

  .burger {
    order: 2;
  }

  .nav-menu {
    position: absolute;
    top: 107px;
    left: 0;

    &__link {
      display: inline-block;
      font-size: 26px;
      line-height: 26px;
      color: $light-color;
      text-decoration: none;
      position: relative;

      &:active,
      &:focus {
        color: $hallmark-color;

        &::before {
          position: absolute;
          left: -39px;
          top: -17px;
          content: '|';
          height: 53px;
          width: 8px;
          background-color: $hallmark-color;
        }
      }
    }

    &__list {
      list-style: none;
      background-color: $dropdown-overlay;
    }

    &__items {
      padding: 30px 45px 21px 40px;

      &:not(:last-child) {
        border-bottom: 3px solid $dropdown-border-overlay;
      }
    }
  }
}

@media screen and (min-width: 320px) {

  .nav-menu {
    &__link {
      transition: 0.2s linear;
      &:hover {
        color: $light-color;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    order: 0;

    &__title {
      @include disappear(none);
    }
  }

  .burger {
    order: 2;
  }

  .nav-menu {
    position: absolute;
    top: 107px;
    left: 0;

    &__link {
      display: inline-block;
      font-size: 26px;
      line-height: 26px;
      color: $light-color;
      text-decoration: none;
      position: relative;

      &:active,
      &:focus {
        color: $hallmark-color;

        &::before {
          position: absolute;
          left: -39px;
          top: -17px;
          content: '';
          height: 53px;
          width: 8px;
          background-color: $hallmark-color;
        }
      }
    }

    &__list {
      list-style: none;
      background-color: $dropdown-overlay;
    }

    &__items {
      padding: 30px 45px 21px 40px;

      &:not(:last-child) {
        border-bottom: 3px solid $dropdown-border-overlay;
      }
    }
  }
}


@media screen and (min-width: 481px) and (max-width: 992px) {

  .btn {
    font-size: 16px;
    line-height: 16px;
  }

  .site-header {
    position: relative;
    padding-top: 24px;
    padding-bottom: 56px;
  }

  .logo {
    text-decoration: none;
    @include flex-direction(flex, row, center);

    &__title {
      text-decoration: none;
      padding-left: 17px;
      font-size: 24px;
      line-height: 16px;
      font-weight: $heavy-fw;
      text-transform: uppercase;
      color: $hallmark-color;
    }
  }

  .nav-menu {
    @include appear(flex);
    position: absolute;
    top: calc(100% - 33px);
    left: 0;
    padding: 0 40px;
    @include flex-direction(flex, rowm, sb-center);

    &__list {
      list-style: none;
      @include flex-direction(flex, rowm, sb-center);
      width: 100%;
    }

    &__link {
      font-size: 16px;
      line-height: 18px;
      color: $hallmark-color;
      text-decoration: none;
      font-weight: $heavy-fw;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    padding: 0 90px;
  }

}


@media screen and (min-width: 993px) and (max-width: 1200px) {

  .logo:hover .logo__icon {
    background-image: url("../img/icons/logo-icon--hover.png");
  }
  .logo:hover .logo__title {
    color: $light-color;
  }


  .site-header-overlay {
    background-color: $dark-color;
  }

  .btn {
    font-size: 16px;
    line-height: 17px;
    width: 166px;
  }

  .site-header {
    padding-top: 31px;
    padding-bottom: 31px;

    .logo {
      text-decoration: none;
      @include flex-direction(flex, row, center);

      &__title {
        text-decoration: none;
        padding-left: 17px;
        font-size: 24px;
        line-height: 16px;
        font-weight: $heavy-fw;
        text-transform: uppercase;
        color: $hallmark-color;
      }
    }
  }

  .nav-menu {
    @include appear(inline-block);
    padding: 0;

    &__list {
      @include flex-direction(flex, row, sb-center);
      list-style: none;
      justify-content: flex-end;
      margin-right: 40px;
    }

    &__link {
      font-size: 16px;
      line-height: 15px;
      color: $hallmark-color;
      text-decoration: none;
      font-weight: $heavy-fw;

      &:hover {
        color: $light-color;
      }
    }

    &__items {
      margin-left: 15px;
    }

  }
}

@media screen and (min-width: 1200px) {

  .nav-menu {
    &__items {
      margin-left: 50px;
    }
  }
}

@media screen and (min-width: 1201px) {


  .site-header-overlay {
    background-color: $dark-color;
  }

  .btn {
    font-size: 16px;
    line-height: 17px;
    width: 165px;
  }

  .site-header {
    .logo {
      text-decoration: none;
      @include flex-direction(flex, row, center);

      &__title {
        text-decoration: none;
        padding-left: 17px;
        font-size: 24px;
        line-height: 16px;
        font-weight: $heavy-fw;
        text-transform: uppercase;
        color: $hallmark-color;
      }
    }
  }

  .nav-menu {
    @include appear(inline-block);
    padding: 0;

    &__list {
      @include flex-direction(flex, row, sb-center);
      list-style: none;
      justify-content: flex-end;
      margin-right: 40px;
    }
    &__link {
      font-size: 16px;
      line-height: 15px;
      color: $hallmark-color;
      text-decoration: none;
      font-weight: $heavy-fw;
    }
    &__items {
      margin-left: 50px;
    }

  }
}