@media screen and (max-width: 992px) {
  .cards {
    display: grid;
  }
}

@media screen and (max-width: 480px) {
  .pricing {
    padding-top: 12px;
    padding-bottom: 12px;

    &__title {
      margin-bottom: 32px;
      font-size: 28px;
      line-height: 42px;
    }
  }

  .cards {

    &__item {
      width: 257px;
    }

    &__item--accent {
      width: 299px;
    }
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 100%;
    grid-row-gap: 18px;
    justify-items: center;

    &__item:not(:nth-child(3n)) {
      padding-bottom: 32px;
    }

    &__item:first-child {
      padding-bottom: 70px;
    }

    &__item:nth-child(even) > .cards__legal {
      line-height: 28px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__price {
      margin-bottom: 20px;
      line-height: 62px;
    }

    &__period {
      margin-bottom: 30px;
    }

    &__legal {
      margin-bottom: 35px;
    }

    &__item--accent {

      & > .cards__price {
        line-height: 84px;
      }

      & > .cards__period {
        margin-bottom: 33px;
      }

      & > .cards__legal {
        margin-bottom: 75px;
        line-height: 32px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .cards {
    grid-gap: 20px 15px;

    &__item {
      width: 215px;
    }

    &__item--accent {
      width: 230px;
    }
  }
}

@media screen and (min-width: 481px) {

  .cards {

    &__item:not(:nth-child(3n)) {
      padding-bottom: 40px;
    }

    &__item:first-child {

      & > .cards__legal {
        margin-bottom: 58px;
      }
    }

    &__item:not(:first-child) {

      & > .cards__legal {
        line-height: 18px;
      }
    }

    &__item:not(:first-child):not(:nth-child(3n)) {

      & > .cards__legal {
        margin-bottom: 41px;
      }
    }

    &__title {
      margin-bottom: 13px;
    }

    &__price {
      margin-bottom: 3px;
      line-height: 90px;
    }

    &__period {
      margin-bottom: 43px;
    }

    &__item--accent {

      & > .cards__price {
        line-height: 90px;
      }

      & > .cards__period {
        margin-bottom: 45px;
      }

      & > .cards__legal {
        margin-bottom: 86px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .pricing {
    padding-top: 84px;
    padding-bottom: 94px;

    &__title {
      margin-bottom: 39px;
    }
  }
  .cards {

    grid-template-columns: 50% 50%;

    &__item:last-child {
      align-self: center;
    }

    &__item:nth-child(odd) {
      justify-self: end;
    }
  }
}

@media screen and (min-width: 601px) {
  .cards {

    &__item {
      width: 257px;
    }

    &__item--accent {
      width: 299px;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .cards {
    grid-gap: 30px 25px;
  }

}

@media screen and (min-width: 993px) {
  .pricing {
    padding-top: 106px;
    padding-bottom: 73px;

    &__title {
      margin-bottom: 61px;
    }
  }

  .cards {
    @include flex-direction(flex, row, center);

    &__item:not(:last-child) {
      margin-right: 15px;
    }
  }
}
