@media screen and (max-width: 480px) {
 .section-title {
   font-size: 36px;
   line-height: 48px;
 }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .section-title {
    font-size: 42px;
    line-height: 44px;
  }
}

@media screen and (min-width: 993px) {
  .section-title {
    font-size: 48px;
    line-height: 50px;
  }
}

