@media screen and (max-width: 320px) {

  .testimonials {
    padding-top: 60px;

    &__title {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 37px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .testimonials {
    padding-top: 60px;

    &__title {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 37px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {

  .testimonials {
    padding-top: 86px;
    font-size: 42px;
    line-height: 44px;

    &__article-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px;
      margin-bottom: 68px;
    }

    &__title {
      margin-bottom: 88px;
    }
  }

  .article {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    &__description {
      margin-bottom: 0;
      align-self: baseline;
    }
  }
}

@media screen and (min-width: 768px) {

  .testimonials {
    &__footer-text {
      border: none;
      padding-bottom: 0;

      &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #645766;
        width: 555px;
        margin: 20px auto 0;
      }
    }
  }
}

@media screen and (min-width: 993px) {

  .testimonials {
    padding-top: 86px;
    font-size: 48px;
    line-height: 50px;

    &__article-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 116px 87px;
      margin-bottom: 68px;
    }

    &__title {
      margin-bottom: 81px;
    }

    &__footer-text {
      border: none;
      padding-bottom: 0;
      width: 880px;
      margin: 0 auto;

      &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #645766;
        width: 780px;
        margin: 20px auto 0;
      }
    }
  }
  .article {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    &__description {
      margin-bottom: 0;
      align-self: baseline;
    }
  }
}